---
import MatterCanvas from "../components/MatterCanvas.astro";
import Textbox from "@/components/Textbox.astro";
import { Button } from "@/components/ui/button";
import "@/styles/globals.css";
import { Avatar, AvatarFallback, AvatarImage } from "@/components/ui/avatar";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="flex h-screen items-center justify-center relative">
      <MatterCanvas />
      <div class="absolute z-10 m-auto">
        <Button client:visible variant="outline">Hello</Button>
      </div>
      <!-- <div class="absolute inset-0 col-start-1 row-start-1"> -->
      <!-- <Textbox />
        <Button>Submit</Button> -->
      <!-- <input
              type="text"
              class="text-center"
              placeholder="Enter your text here"
            /> -->
      <!-- </div> -->
    </div>
  </body>
</html>
