---
import MatterCanvas from "../components/MatterCanvas.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="h-screen w-full">
      <MatterCanvas />
      <div
        class="absolute inset-0 flex flex-col z-0 justify-center items-center"
      >
        <p>Your Textbox Content</p>
        <input
          type="text"
          class="text-center"
          placeholder="Enter your text here"
        />
      </div>
    </div>
  </body>
</html>
