---
import MatterCanvas from "../components/MatterCanvas.astro";
import GenerationForm from "../components/GenerationForm.tsx";
import "@/styles/globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>lyrickle</title>
  </head>
  <body>
    <div class="relative flex h-screen items-center justify-center">
      <MatterCanvas />
      <div
        class="container absolute z-10 mx-auto flex w-4/5 max-w-2xl flex-col justify-center"
      >
        <h1 class="tracking-relaxed scroll-m-20 text-4xl font-bold lg:text-5xl">
          Lyrickle
        </h1>
        <p class="leading-7 [&:not(:first-child)]:mt-6">
          Make your favourite artists write a song for you!
        </p>
        <GenerationForm client:only="react" />
      </div>
    </div>
  </body>
</html>
